{% extends 'base.html' %}

{% block title %}
    Editar Usuario
{% endblock %}

{% block body %}
<div class="mt-5">
    <h2 class="text-center mb-4">Editar Información de Usuario:<br><b>{{ usuario[1] }}</b></h2>
    <form method="POST" action="{{ url_for('usuario.editar_usuario', idUsuario=usuario[0]) }}" class="mx-auto" style="max-width: 600px;">
        <input type="hidden" name="idUsuario" value="{{ usuario[0] }}">
        <div class="mb-3">
            <label for="idRol" class="form-label">Rol</label>
            <select class="form-select" id="idRol" name="idRol" required>
                {% for rol in roles %}
                <option value="{{ rol[0] }}" {% if rol[0] == usuario[4] %}selected{% endif %}>{{ rol[1] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="nombreCompleto" class="form-label">Nombre Completo</label>
            <input type="text" class="form-control" id="nombreCompleto" name="nombreCompleto" value="{{ usuario[1] }}" required>
        </div>
        <div class="mb-3">
            <label for="correo" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="correo" name="correo" value="{{ usuario[2] }}" required>
        </div>
        <div class="mb-3">
            <label for="contrasenia" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="contrasenia" name="contrasenia" value="{{ usuario[3] }}" required>
        </div>
         <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="{{ url_for('usuario.GestionarRoles') }}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
