{% extends './base.html' %}

{% block title %}
    Gestionar Roles
{% endblock %}

{% block estilos %}

{% endblock %}

{% block body %}
    <div class="mt-5">
        <h2>Administración de Roles</h2>
        <div class="table-responsive">
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre Completo</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Actualizar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dato in usuarios %}
                    <tr>
                        <form action="{{ url_for('usuario.ActualizarRol') }}" method="POST">
                            <td>
                                <input value="{{dato[0]}}" name="idUsuario" readonly="true" style="border:none; outline:none; background:transparent;">
                            </td>
                            <td>{{dato[1]}}</td>
                            <td>{{dato[2]}}</td>
                            <td>
                            <select name="idRol" class="form-select">
                                {% for rol in roles %}
                                <option value="{{ rol[0] }}" {% if rol[1] == dato[3] %}selected{% endif %}>{{ rol[1] }}</option>
                                {% endfor %}
                            </select>
                            </td>
                            <td>
                                <input type="submit" class="btn btn-warning" value="Actualizar">
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
